/* Estilo global */
html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
}

/* Barra de navegación */
nav {
    position: fixed;
    width: 100%;
    background-color: #2c3e50;
    padding: 1rem 0;
    z-index: 1000; /* Para asegurarse de que se superponga a otros elementos */
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Alineación vertical */
}
.logo {
    margin-right: auto; /* Asegura que el logo se alinee a la izquierda */
    margin-left: 30px;
}
/* Estilo de los enlaces en el nav */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    nav {
        flex-direction: row; /* Asegura que los elementos estén en fila */
        padding: 0.5rem 0; /* Reducir el padding para móviles */
    }

    nav a {
        margin: 0 0.5rem; /* Reducir el margen entre los enlaces */
        font-size: 1rem; /* Reducir el tamaño de la fuente */
    }
}

/* Sección de Proyectos */
.projects {
    flex-grow: 1;
    padding: 7rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projects h1 {
    font-size: 2.5rem;
    color: #f7f0f0;
    margin-bottom: 2rem;
    font-weight: bold;
}

/* Contenedor de los proyectos */
.projects-grid {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Tarjetas de proyectos */
.project-card {
    background-color: #ecf0f1;
    width: 18rem;
    height: 18rem;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #333;
}

.project-card:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #2980b9;
}

.project-card p {
    flex-grow: 1;
    min-height: 4rem;
    font-size: 1rem;
    line-height: 1.5;
}

/* Botón de acción */
.cta-btn {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background-color: #2980b9;
    color: white;
    text-decoration: none;
    border-radius: 0.3125rem;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    margin-top: 0.5rem;
}

.cta-btn:hover {
    background-color: #3498db;
    opacity: 0.85;
}

/* Pie de página */
footer {
    background-color: rgba(44, 62, 80, 0.9);
    color: white;
    text-align: center;
    padding: 1.25rem 0;
    margin-top: 2rem;
}
