*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C727F; 
}
.img{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 152px;
    border-radius: 5%;
    margin: auto;
}
.panel{
    background-color:#E5EAF0;
    width: auto;
    height: auto;
    margin-top: 164px;
    padding: 16px;
    position: relative;
    border-radius: 6%;
    color: #E5EAF0;
}

h1{
    color: #20293A;
}
h5{
    color:#6C727F;
    font-family: "Sora", sans-serif;
    font-size: 10px;
    margin: 25px  4px;
}
.design{
    background-color: #883AE1;
    border-radius: 100px;
    width: 68px;
    margin: 16px;
}
.design p{
    font-family: "Sora", sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 16px;
}
.descripcion{
    color: #6C727F;
    font-family: "Sora", sans-serif;
    font-size: 12px;
    margin: 6px 0 20px;
}